NEXT_PUBLIC_API_URL=http://localhost:8080
API_URL=http://keep-backend:8080
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret
PUSHER_HOST=localhost
PUSHER_PORT=6001
PUSHER_APP_KEY=keepappkey
NEXT_PUBLIC_PRODUCT_MODE=personal_server_mvp
